.text {
  font-size: 40px;
  font-family: 'Exo', sans-serif;
  background-color: var(--light-gray);
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: 2em;
  padding-right: 1em;
  padding-left: 1em;
}

.text p {
  font-size: 0.4em;  
  padding-top: 1em;
  color: #282828;
  opacity: 0.66;
}
.text img {
  max-width: 100%;
}

@media screen and (min-width: 1200px) {
  .text {
    padding-top: 3.25em;
    padding-bottom: 4em;
    padding-right: 5em;
    padding-left: 5em;
  }
}